<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>19/07/14 15:59:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/07/14 15:59:55</td>   <td>21030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/07/14 15:59:11</td>   <td>-23056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>19/07/14 15:59:36</td>   <td>2136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/07/14 15:59:19</td>   <td>-14491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">createLeadTest</td> 
  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/07/14 15:59:41</td>   <td>6892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLeadTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">createLeadTest</td> 
  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/07/14 15:59:10</td>   <td>-23932</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="939fd1">  <td>19/07/14 15:59:10</td>   <td>-24151</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/07/14 15:59:10</td>   <td>-24135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/07/14 15:59:09</td>   <td>-24729</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>19/07/14 15:59:57</td>   <td>23239</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>19/07/14 15:59:57</td>   <td>23200</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.TC001_CreateLead@731a74c]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@510464020</td>   <td></td> </tr>
</table>
